:root {
  --black: #2d2b2b;
  --white: #e5e6e7;
  --yellowish: rgb(241, 184, 14);
}
.header-top-strip {
  background-color: var(--black);
  color: var(--white);
}
.header-top-strip p {
  margin-bottom: 0;
}

.logoImage {
  border-radius: 10px;
  width: 50px;
}
a {
  text-decoration: none;
  color: var(--white);
}
.header-upper {
  background-color: var(--black);
}
.input-group-text {
  background-color: var(--yellowish);
}
.form-control {
  box-shadow: none !important;
}
.right-links {
  width: 40px;
}
.header-upper-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-upper-links p {
  margin: 0;
}
.header-upper-links .maplinks {
  display: flex;
  gap: 10px;
  align-items: center;
}
.cartIcon {
  display: flex;
  align-items: center;
}

@media (max-width: 700px) {
  .header-upper-links {
    display: none !important;
  }
}
