:root {
  --black: #2d2b2b;
  --white: #e5e6e7;
  --yellowish: rgb(241, 184, 14);
}
.header-top-strip {
  background-color: var(--black);
  color: var(--white);
}
.header-top-strip p {
  margin-bottom: 0;
}

.logoImage {
  border-radius: 10px;
  width: 50px;
}
a {
  text-decoration: none;
  color: var(--white);
}
.header-upper {
  background-color: var(--black);
}
.input-group-text {
  background-color: var(--yellowish);
}
.form-control {
  box-shadow: none !important;
}
.right-links {
  width: 40px;
}
.header-upper-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-upper-links p {
  margin: 0;
}
.header-upper-links .maplinks {
  display: flex;
  gap: 10px;
  align-items: center;
}
.cartIcon {
  display: flex;
  align-items: center;
}
.header-bottom {
  background-color: #2f3338;
}
.menu-links {
  display: flex;
  gap: 15px;
  margin-left: 30px;
}
.dropdown-menu,
.dropdown a {
  background-color: #2f3338;
  color: white;
}

.dropdown-menu .dropdown-item {
  padding: 10px;
  border-top: 1px solid black;
}
.dropdown-menu .dropdown-item:hover {
  background-color: transparent;
  color: #d6d608;
}
.menu-links a,
.menu-bottom .dropdown button {
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.3;
  text-emphasis: none;
  text-transform: uppercase;
}

@media (max-width: 700px) {
  .header-upper-links {
    display: none !important;
  }
}
